.addedProduct{
    position: relative;
    margin-top: 120px;
    padding-top: 30px;
}

.container{
    padding: 0 30px;
}
.tableHeader ul {
    display: grid;
    grid-template-columns: 2fr repeat(4, 1fr);
    align-items: center;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.08);
}
.tableHeader ul li{
    padding: 5px 0;
    display: flex;
    align-items: center;
    border-right: 1px solid rgba(0, 0, 0, 0.08);
    border-left: 1px solid rgba(0, 0, 0, 0.08);
    justify-content: center;
    width: 100%;
    font-weight: 500;
}
.noData{
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(17, 132, 17, 0.1);
}
.table{
    min-height: 429px;
    padding-bottom: 50px;
}
.ConitinueShopping{
    margin-top: 35px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.ConitinueShopping h6 a{
    color: white;
    border: 2px solid rgb(17, 132, 17);
    background: rgb(17, 132, 17);
    padding: 8px 1rem;
    text-align: center;
    transition: .2s ease;
}
.ConitinueShopping h6{
    text-align: center;
}
.ConitinueShopping h6 a:hover{
    color: rgb(17, 132, 17);
    background: none;

}
.active{
    color: rgb(17, 132, 17);
    font-weight: 400  ;
}
.location{
    display: flex;
    align-items: center;
    padding-bottom: 20px;
}
.location a{
    color: rgb(27, 25, 46);
    font-weight: 400;
}
.location a:hover{
    color: rgb(17, 132, 17);
}
.icon{
    margin: 0 10px;
}
.cuponContainer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 100px;
}
.use h6{
    letter-spacing: 1px;
    
}
.use input{
    border: 1px solid rgba(0, 0, 0, 0.2);
    outline: none;
    padding: 8px;
}
.input button{
    border: 1px solid rgb(17, 132, 17);
    background: rgb(17, 132, 17);
    transition: .2s ease;
    padding: 8px 1rem;
    margin-left: 20px;
    color: white;
}
.input button:hover{
    background: none;
    color: rgb(17, 132, 17);
}
.shiping_checkout{
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   align-items: center;
   margin-top: 100px;
   gap: 50px;
}
.calcu{

    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    display: flex;
    align-items: center;;
    flex-direction: column;
}
.subtotal{
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.money{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}
.total{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}
.checkout{
    background: rgb(17, 132, 17);
    border: 1px solid rgb(17, 132, 17);
    padding: .6rem 1rem;
    color: white;
    transition: .2s ease;
}
.checkout:hover{
    background: none;
    color: rgb(17, 132, 17);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}