.card{
    height: 500px;
    border-radius: 5px;
}
.card .card__head{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 350px;
    position: relative;
    object-fit: cover;
}
.card .card__head img{
    width: 100%;
    position: relative;
    height: 70%;
    object-fit: contain;
}

.addToCart{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(30, 202, 30, 0.418);
    border-radius: 5px;
    opacity: 0;
    transition: .3s ease-in;
}
.addToCart ul{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.addToCart li{
    font-size: 20px;
    cursor: pointer;
    margin: 10px 5px;
    padding: 8px 10px;
    background-color: rgb(17, 172, 17);
    width: 40px;
    height: 50px;
    color: white;
    border-radius: 50%;
    transition: .3s ease;
}
.addToCart li:hover{
    background-color: white;
    color: rgb(17, 172, 17);
}
.addToCart li:hover > a{
    color: rgb(17, 172, 17);
}
.addToCart li a{
    color: white;
}
.addToCart li a:hover{
    background: none;
    color: rgb(17, 172, 17);
}
.card .card__head:hover > .addToCart{
    opacity: 1;
}
.card__body{
    padding-top: 10px;
    text-align: center;
}

.stars{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: rgb(245, 148, 21);
}
.productName a{
    color: #2b3044;
    font-weight: 400;
}